* {
    font-family: Calibri;
    color: white;
}

body {
    background-color: black;
}

h1 {
    text-align: center;
    margin-top: 7rem;
    font-size: 50px;
}

h2 {
    text-align: center;
    font-size: 25px;
}

p.reset_button {
    position: absolute;
    width: 10vw;
    bottom: 5rem;
    left: 45vw;
    border: 5px solid white;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

p.win {
    position: absolute;
    width: 20vw;
    bottom: 10rem;
    left: 40vw;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

div.picker {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: calc(100vw / 3) calc(100vw / 3) calc(100vw / 3);
    z-index: -20;
}
div.picker div {
    width: calc(100vw / 3);
    height: 100vh;
    opacity: 0.8;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

div.picker div.scissor {
    background-image: url("https://cdn.pixabay.com/photo/2020/04/21/16/41/threads-5073817_1280.jpg");
}

div.picker div.stone {
    background-image: url("https://cdn.pixabay.com/photo/2018/10/01/20/38/meteora-3717220_1280.jpg");
}

div.picker div.paper {
    background-image: url("https://cdn.pixabay.com/photo/2015/05/31/15/08/blank-792125_1280.jpg");
}

div.picker div:hover {
    opacity: 0.4;
}