* {
    font-family: Calibri;
    color: white;
}

body {
    background-color: grey;
}

h1 {
    text-align: center;
    margin-top: 7rem;
    font-size: 50px;
}

h2 {
    text-align: center;
    font-size: 25px;
}

p.reset_button {
    position: absolute;
    width: 10vw;
    bottom: 5rem;
    left: 45vw;
    border: 5px solid white;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

p.win {
    position: absolute;
    width: 20vw;
    bottom: 10rem;
    left: 40vw;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}